In [6]:
import numpy as np
import pandas as pd

arr = np.array([[1,4,2], [0, 4,3], [3,5,2]])
index = ["t1", "t2", "t3"]
columns=[0,1,2]

df = pd.DataFrame(data=arr, columns=columns, index=index)
#2. stundaki max
print(df.idxmax(1))

df

t1    1
t2    1
t3    1
dtype: int64

    0  1  2
t1  1  4  2
t2  0  4  3
t3  3  5  2