In [4]:
import sqlite3

connection = sqlite3.connect("bilgeadam.db") # bilgeadam.db diye bir dosya yoksa oluşturuyor. Varsa database olarak o dosyayı kullanıyor.
cursor = connection.cursor()

create_sql = "CREATE TABLE products(name VARCHAR(255), price FLOAT, category_id VARCHAR(255))"
cursor.execute(create_sql)
connection.commit()

In [12]:
connection = sqlite3.connect("bilgeadam.db") # bilgeadam.db diye bir dosya yoksa oluşturuyor. Varsa database olarak o dosyayı kullanıyor.
cursor = connection.cursor()

insert_command = "INSERT INTO products(name, price, category_id) VALUES('armut', 29.99, '0')"
cursor.execute(insert_command)

connection.commit()
connection.close()

In [19]:
connection = sqlite3.connect("bilgeadam.db") # bilgeadam.db diye bir dosya yoksa oluşturuyor. Varsa database olarak o dosyayı kullanıyor.
cursor = connection.cursor()

select_command = "SELECT * FROM products"
cursor.execute(select_command)
result = cursor.fetchall()

for product in result:
    print(product)

connection.close()

('kivi', 49.99, '0')
('elma', 19.99, '0')
('elma', 29.99, '0')
('armut', 29.99, '0')

In [36]:
from datetime import datetime

# 1- "bilgeadam.db" isimli bir sqlite database'i oluşturun ve bu database'e bağlantı sağlayın.

connection = sqlite3.connect("bilgeadam.db")
cursor = connection.cursor()

# 2 - Bu database üzerinde 'Student' diye bir tablo oluşturun.
#   - Bu tablonun sütunları aşağıdaki gibidir
#   - 'ID' INT NOT NULL PRIMARY KEY,
#   - 'StudentNo' VARCHAR(5),
#   - 'FirstName' VARCHAR (45) NOT NULL,
#   - 'LastName' VARCHAR(45) NOT NULL,
#   - 'BirthDate' DATETIME,
#   - 'Gender' CHAR(1),

create_sql = """
    CREATE TABLE Student(
        ID INT NOT NULL PRIMARY KEY,
        StudentNo VARCHAR(5),
        FirstName VARCHAR(45) NOT NULL,
        LastName VARCHAR(45) NOT NULL,
        BirthDate DATETIME,
        Gender CHAR(1)
    )
"""
cursor.execute(create_sql)
connection.commit()



# 3 - Aşağıdaki bilgiler için öğrencileri database'e ekleyin
# ("301", "Ahmet", "Yılmaz", datetime(2005, 5, 17), "E")
# ("302", "Ali", "Can", datetime(2005, 6, 17), "E")
# ("303", "Canan", "Tan", datetime(2005, 7, 7), "K")
# ("304", "Bahadır", "Toksöz", datetime(2005, 9, 23), "E")
# ("305", "Merve", "Şengöz", datetime(2005, 10, 27), "K")

students = [
 ("301", "Ahmet", "Yılmaz", datetime(2005, 5, 17), "E", 0), #tuple
 ("302", "Ali", "Can", datetime(2005, 6, 17), "E", 1),
 ("303", "Canan", "Tan", datetime(2005, 7, 7), "K", 2),
 ("304", "Bahadır", "Toksöz", datetime(2005, 9, 23), "E", 3),
 ("305", "Merve", "Şengöz", datetime(2005, 10, 27), "K", 4),
]


for student in students:
    insert_sql = """
        INSERT INTO Student(ID, StudentNo, FirstName, LastName, BirthDate, Gender)
        VALUES( {}, '{}', '{}', '{}', '{}', '{}')""".format(student[5], student[0], student[1], student[2], student[3], student[4])
    
    print(insert_sql)
    print()
    connection.execute(insert_sql)
    connection.commit()

connection.close()

        INSERT INTO Student(ID, StudentNo, FirstName, LastName, BirthDate, Gender)
        VALUES( 0, '301', 'Ahmet', 'Yılmaz', '2005-05-17 00:00:00', 'E')


        INSERT INTO Student(ID, StudentNo, FirstName, LastName, BirthDate, Gender)
        VALUES( 1, '302', 'Ali', 'Can', '2005-06-17 00:00:00', 'E')


        INSERT INTO Student(ID, StudentNo, FirstName, LastName, BirthDate, Gender)
        VALUES( 2, '303', 'Canan', 'Tan', '2005-07-07 00:00:00', 'K')


        INSERT INTO Student(ID, StudentNo, FirstName, LastName, BirthDate, Gender)
        VALUES( 3, '304', 'Bahadır', 'Toksöz', '2005-09-23 00:00:00', 'E')


        INSERT INTO Student(ID, StudentNo, FirstName, LastName, BirthDate, Gender)
        VALUES( 4, '305', 'Merve', 'Şengöz', '2005-10-27 00:00:00', 'K')

In [ ]:
# 4- Aşağıdaki sorguları yazınız.
#   a- Tüm öğrenci kayıtlarını alınız.
#   b- Tüm öğrencilerin sadece öğrenci no, ad ve soyad bilgilerini alınız.
#   c- Sadece kız öğrencilerin ad ve soyadlarını alınız.
#   d- İsmi Ali ve doğum tarihi 2005 olan öğrenci bilgilerini alınız. *
#   e- ad veya soyadı içinde 'an' ifadesi geçen kayıtları alınız.
#   f- Kaç erkek öğrenci vardır ?
#   g- Kız öğrencileri harf sırasına göre getiriniz.

# 5- Aşağıdaki güncelleme sorularını yapınız.
#   a- id'si 3 olan öğrencinin adını "Hüsamettin" olarak güncelleyiniz.
#   b- Adı Bahadır olan öğrenciyi tablodan siliniz.
#   c- Cinsiyeti 'E' olan tüm öğrencilerin adını "Ahmet" olarak güncelleyiniz.